<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.academix.mapper.RequestsMapper">

  <resultMap type="RequestsDto" id="RequestMap">
  <id property="requestNo"  column="REQUEST_NO"/>
  <result property="requestSort"  column="REQUEST_SORT"/>
  <result property="requestDate"  column="REQUEST_DATE"/>
  <result property="reason"  column="REASON"/>
  <result property="requestStatus"  column="REQUEST_STATUS"/>
  <result property="rejectReason"  column="REJECT_REASON"/>
  <result property="picNo"  column="PIC_NO"/>
  <association property="employees" javaType="EmployeesDto">
   <id property="employeeNo" column="EMPLOYEE_NO"/>
   <result property="name" column="NAME"/>
  
  <association property="depart" javaType="DepartmentsDto">
   <id property="departmentNo" column="DEPARTMENT_NO"/>
   <result property="name" column="DEPART_NAME"/>
  </association>
  <association property="rank" javaType="RANKSDTO">
   <id property="rankNo" column="RANK_NO"/>
   <result property="title" column="RANK_TITLE"/>
  </association>
  </association>
  </resultMap>


  <insert id="insertRequest" parameterType="RequestsDto" useGeneratedKeys="true" keyProperty="requestNo" keyColumn="REQUEST_NO">
    <!-- REQUEST_NO를 미리 생성하고 keyProperty에 할당합니다 -->
    <selectKey keyProperty="requestNo" resultType="int" order="BEFORE">
        SELECT REQUESTS_SEQ.NEXTVAL AS requestNo FROM DUAL
    </selectKey>
    
    INSERT INTO REQUESTS_T(
        REQUEST_NO,
        REQUEST_SORT,
        REQUEST_DATE,
        REASON,
        REQUEST_STATUS,
        REJECT_REASON,
        PIC_NO,
        EMPLOYEE_NO
    ) VALUES (
        #{requestNo},
        #{requestSort},
        CURRENT_DATE,
        #{reason},
        #{requestStatus},
        null,
        #{picNo},
        #{employees.employeeNo}
    )
</insert>

<insert id="insertLeaveRequest" parameterType="LeaveRequestDto">

    INSERT INTO LEAVE_REQUEST_T(
        REQUEST_NO,
        START_DATE,
        END_DATE,
        DURATION,
        LEAVE_TYPE
    ) VALUES (
        #{requests.requestNo},
        #{startDate}, 
        #{endDate},
        #{duration},
        #{leaveType}
    )
</insert>


<insert id="insertRequestAttach"
        parameterType="RequestAttachDto">
  <selectKey order="BEFORE" keyProperty="attachNo" resultType="int">
      SELECT REQUEST_ATTACH_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>      
 INSERT INTO REQUEST_ATTACH_T (
   ATTACH_NO,
   UPLOAD_PATH,
   FILESYSTEM_NAME,
   ORIGINAL_FILENAME,
   REQUEST_NO) VALUES(
   
 )
</insert>

<select id="getList"
        parameterType="Map"
        resultMap="RequestMap">
   SELECT R.REQUEST_SORT, R.REQUEST_DATE, R.REASON, R.REJECT_REASON, R.PIC_NO, R.EMPLOYEE_NO, R.REQUEST_NO,NAME, D.DEPART_NAME, RA.RANK_TITLE AS RANK_TITLE
FROM (
    SELECT ROW_NUMBER() OVER(ORDER BY R.REQUEST_NO DESC) AS RN, 
           R.REQUEST_NO, R.REQUEST_SORT, R.REQUEST_DATE, R.REASON, R.REJECT_REASON, R.PIC_NO, R.EMPLOYEE_NO, E.NAME, E.DEPARTMENT_NO, E.RANK_NO
    FROM REQUESTS_T R 
    INNER JOIN EMPLOYEES_T E ON R.EMPLOYEE_NO = E.EMPLOYEE_NO
) R
INNER JOIN DEPARTMENTS_T D ON R.DEPARTMENT_NO = D.DEPARTMENT_NO
INNER JOIN RANKS_T RA ON R.RANK_NO = RA.RANK_NO
WHERE RN BETWEEN #{begin} AND #{end}
</select>
  
  <select id="getRequestsCount"
          resultType="int">
    SELECT COUNT(*)
      FROM REQUESTS_T
  </select>
  
  <select id="getRequestsbyNo"
        parameterType="Map"
        resultMap="RequestMap">
   SELECT R.REQUEST_SORT, R.REQUEST_DATE, R.REASON, R.REJECT_REASON, R.PIC_NO, R.EMPLOYEE_NO, R.REQUEST_NO,NAME, D.DEPART_NAME, RA.RANK_TITLE AS RANK_TITLE
FROM (
    SELECT ROW_NUMBER() OVER(ORDER BY R.REQUEST_NO DESC) AS RN, 
           R.REQUEST_NO, R.REQUEST_SORT, R.REQUEST_DATE, R.REASON, R.REJECT_REASON, R.PIC_NO, R.EMPLOYEE_NO, E.NAME, E.DEPARTMENT_NO, E.RANK_NO
    FROM REQUESTS_T R 
    INNER JOIN EMPLOYEES_T E ON R.EMPLOYEE_NO = E.EMPLOYEE_NO
) R
INNER JOIN DEPARTMENTS_T D ON R.DEPARTMENT_NO = D.DEPARTMENT_NO
INNER JOIN RANKS_T RA ON R.RANK_NO = RA.RANK_NO
WHERE RN BETWEEN #{begin} AND #{end}
</select>



</mapper>